@using Presentation.ViewModels.Order
@using Presentation.ViewModels.User;
@model MyProfileViewModel;

@{
    var user = Model.User;
    var orders = Model.Orders;
    ViewData["Title"] = "Meu perfil";
    Layout = "_Layout";
}

@functions {
    public string formatPrice(decimal value)
    {
        return $"{value.ToString("0.00")}";
    }
}

<section class="flex flex-col gap-6">
    <div class="mb-8 flex">
        <a asp-controller="Home" asp-action="Home"
           class="flex gap-2 shadow bg-blue-700 hover:bg-blue-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="fill-white mt-1">
                <path using Presentation.ViewModels.Order;
                      d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.2 288 416 288c17.7 0 32-14.3 32-32s-14.3-32-32-32l-306.7 0L214.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
            </svg>

            Voltar
        </a>
    </div>

    <h1 class="text-3xl font-bold">Meu Perfil</h1>

    <div class="p-8 mt-6 lg:mt-0 rounded shadow bg-white">
        <div class="py-4 md:py-0">
            <div class="mb-4 grid gap-4 sm:grid-cols-2 sm:gap-8 lg:gap-16">
                <div class="space-y-4">
                    <div class="flex space-x-4">
                        <img class="h-16 w-16 rounded-lg"
                             src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/helene-engels.png"
                             alt="Helene avatar" />
                        <div>
                            <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-sm">
                                @user.Role
                            </span>
                            <h2 class="flex items-center text-xl font-bold leading-none text-gray-900 sm:text-2xl">
                                @user.Name
                            </h2>
                        </div>
                    </div>
                    <dl class="">
                        <dt class="font-semibold text-gray-900 text-white">Email</dt>
                        <dd class="text-gray-500 text-gray-400">@user.Email</dd>
                    </dl>
                    <dl>
                        <dt class="font-semibold text-gray-900 text-white">Usuário</dt>
                        <dd class="flex items-center gap-1 text-gray-500 text-gray-400">
                            @user.Username
                        </dd>
                    </dl>
                    <dl>
                        <dt class="font-semibold text-gray-900 text-white">Número de Telefone</dt>
                        <dd class="flex items-center gap-1 text-gray-500 text-gray-400 mt-1">
                            <svg class="hidden h-5 w-5 shrink-0 text-gray-400 text-gray-500 lg:inline"
                                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                 viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M13 7h6l2 4m-8-4v8m0-8V6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v9h2m8 0H9m4 0h2m4 0h2v-4m0 0h-5m3.5 5.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Zm-10 0a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z" />
                            </svg>

                            @if (string.IsNullOrEmpty(user.PhoneNumber))
                            {
                                <span class="bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">
                                    Não informado
                                </span>
                            }

                            @user.PhoneNumber
                        </dd>
                    </dl>
                </div>
            </div>

            <hr class="mt-5 mb-5">

            <div class="mt-3">
                <button type="button" id="openModal"
                        class="flex gap-2 shadow bg-blue-700 hover:bg-blue-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="mt-1 mr-1 fill-white">
                        <path d="M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z" />
                    </svg>
                    Editar
                </button>
            </div>
        </div>
    </div>

    <div id="modal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">

        <div class="bg-white p-6 rounded-lg shadow-lg w-96">
            <div class="flex justify-between items-center border-b pb-2">
                <h2 class="text-xl font-semibold">Atualizar dados</h2>
                <button id="closeModal" class="text-gray-500 hover:text-gray-700">&times;</button>
            </div>

            <div class="mt-4">
                <form asp-action="UpdateEmployee" asp-controller="Employee" asp-route-employeeUsername="@user.Username" asp-route-afterRoute="my-profile" asp-antiforgery="true">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="flex flex-col gap-4">
                        <div class="">
                            <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4" for="my-textfield">
                                Nome do Funcionário
                            </label>
                            <input asp-for="Name" type="text" value="@user.Name" placeholder="Insira o nome do funcionário"
                                   class="rounded bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5">
                        </div>

                        <div class="">
                            <div class="">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4"
                                       for="my-textfield">
                                    Nome de Usuário
                                </label>
                            </div>
                            <div class="">
                                <div class="flex">
                                    <input asp-for="Username" type="text" value="@user.Username" placeholder="Insira o nome de usuário"
                                           class="rounded bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5">
                                </div>
                            </div>
                        </div>

                        <div class="">
                            <div class="">
                                <label class="block text-gray-600 font-bold md:text-left mb-3 md:mb-0 pr-4"
                                       for="my-textfield">
                                    E-mail do Funcionário
                                </label>
                            </div>
                            <div class="">
                                <div class="flex">
                                    <input asp-for="Email" type="email" value="@user.Email" placeholder="Insira o e-mail do funcionário."
                                           class="rounded bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 min-w-0 w-full text-sm p-2.5">
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-between mt-4 text-right">
                            <button id="closeModalBtn" class="px-4 py-2 bg-red-500 text-white rounded-lg">Fechar</button>
                            <button class="px-4 py-2 bg-green-500 text-white rounded-lg"
                                    type="submit">
                                Salvar Funcionário
                            </button>
                        </div>
                    </div>

                    <partial name="../Shared/Partials/_Messages.cshtml" />
                </form>
            </div>
        </div>
    </div>

    <div class="p-8 lg:mt-0 rounded-lg shadow bg-white ">
        <div class="py-4 md:py-0 flex justify-center items-center">
            <h1 class="text-2xl font-bold">Últimos Pedidos Realizados</h1>
        </div>

        <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100">
                        <tr>
                            <th scope="col" class="px-6 py-3 rounded-s-lg">
                                Data
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cliente
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Sabor
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Valor
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Pagamento
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Status
                            </th>
                        </tr>
                    </thead>

                    @if (!orders.Any())
                    {
                        <tbody>
                            <tr>
                                <td colspan="7" class="text-center p-6">
                                    @* <img src="https://media.giphy.com/media/3o7aD2saalBwwftBIY/giphy.gif"
                                alt="Nenhum pedido" class="w-64 h-64 mx-auto"> *@
                                    <p class="text-gray-500 text-lg mt-4">Nenhum pedido encontrado</p>
                                </td>
                            </tr>
                        </tbody>
                    }
                    else
                    {
                        <tbody>
                            @foreach (var order in orders)
                            {
                                <tr class="bg-white">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        @order.CreatedAt
                                    </th>
                                    <td class="px-6 py-4">
                                        @order.Customer
                                    </td>
                                    <td class="px-6 py-4">
                                        @order.Meal
                                    </td>
                                    <td class="px-6 py-4">
                                        R$ @formatPrice(order.Price)
                                    </td>
                                    <td class="px-6 py-4">
                                        @order.PaymentType
                                    </td>

                                    @if (order.IsPaid)
                                    {
                                        <td class="px-6 py-4">
                                            <span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">
                                                Pago
                                            </span>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="px-6 py-4">
                                            <span class="bg-yellow-100 text-yellow-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">
                                                Pendente
                                            </span>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>

</section>

<script>
    document.getElementById("openModal").addEventListener("click", function () {
        document.getElementById("modal").classList.remove("hidden");
    });

    document.getElementById("closeModal").addEventListener("click", function () {
        document.getElementById("modal").classList.add("hidden");
    });

    document.getElementById("closeModalBtn").addEventListener("click", function () {
        document.getElementById("modal").classList.add("hidden");
    });
</script>